
:root {
    --primario: #7a2626;
    --texto: #44ad2f;
    
  
  }
h1{
    color: var(--texto);
}

.mynavbar{
    background-color: var(--primario);
    
   
}

.nav-link {
    color: var(--texto);
}

.navbar-expand-sm .navbar-collapse {
    flex-direction: row-reverse;
    
}