@import url("vars.css");

h1{
    background-color: var(--primario);
    color: var(--destacado);
    padding: 10px;
    margin-left: 20px;
}

.mynavbar{
    background-color: var(--destacado);
    
   
}

.nav-link {
    color: var(--texto);
    font-size: large;
}

.navbar-expand-sm .navbar-collapse {
    flex-direction: row-reverse;
    
}